*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

.button {
    background-color: bisque;
    border-radius: 20%;
    border-color: black;
    padding: 0.5% 1% 0.5% 1%;
}